:root {
  --clr-text: rgb(60, 60, 60);

  --twentypercent: 20%;
}

html {
  background-color: #FDFDFD;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
